In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dias = pd.date_range(start='20190101', periods=12)

In [ ]:
dias

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
Pessoa = ['George', 'Victor', 'Lucas']

In [ ]:
np.random.choice(Pessoa)

'George'

In [ ]:
Nome = []
Gasto = []
for i in range(12):
  Nome.append(np.random.choice(Pessoa))
  Gasto.append(np.round(np.random.rand()*100, decimals=2))

In [ ]:
Nome

['George',
 'Victor',
 'Victor',
 'George',
 'Victor',
 'George',
 'Victor',
 'Lucas',
 'Lucas',
 'Lucas',
 'Victor',
 'George']

In [ ]:
Gasto

[21.27,
 36.83,
 87.11,
 72.77,
 84.91,
 11.59,
 15.81,
 34.45,
 32.48,
 42.49,
 14.88,
 48.32]

In [ ]:
# tabela = pd.MultiIndex.from_product([Nome, Gasto], names=['Nome', 'Gasto'])

In [ ]:
df = pd.DataFrame({'Dia': dias, 'Nome': Nome, 'Gasto': Gasto})

In [ ]:
df

          Dia    Nome  Gasto
0  2019-01-01   Lucas  21.27
1  2019-01-02  Victor  36.83
2  2019-01-03   Lucas  87.11
3  2019-01-04  Victor  72.77
4  2019-01-05   Lucas  84.91
5  2019-01-06  George  11.59
6  2019-01-07  Victor  15.81
7  2019-01-08  George  34.45
8  2019-01-09  George  32.48
9  2019-01-10  Victor  42.49
10 2019-01-11   Lucas  14.88
11 2019-01-12   Lucas  48.32

In [ ]:
df.groupby(['Nome', 'Dia']).sum()

                   Gasto
Nome   Dia
George 2019-01-06  11.59
       2019-01-08  34.45
       2019-01-09  32.48
Lucas  2019-01-01  21.27
       2019-01-03  87.11
       2019-01-05  84.91
       2019-01-11  14.88
       2019-01-12  48.32
Victor 2019-01-02  36.83
       2019-01-04  72.77
       2019-01-07  15.81
       2019-01-10  42.49

In [ ]:
tabela = df.pivot(index='Dia', columns='Nome', values='Gasto')

In [ ]:
tabela.T

Dia,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,2019-01-11,2019-01-12
Nome,,,,,,,,,,,,
George,NaN,NaN,NaN,NaN,NaN,11.59,NaN,34.45,32.48,NaN,NaN,NaN
Lucas,21.27,NaN,87.11,NaN,84.91,NaN,NaN,NaN,NaN,NaN,14.88,48.32
Victor,NaN,36.83,NaN,72.77,NaN,NaN,15.81,NaN,NaN,42.49,NaN,NaN